<section class="profile">
    <div class="profile-top">
        <div class="pf-picture"><img src="img/stick-figure-40652_1280(1).png"></div>
        <h3><%= user.username %></h3>
    </div>

    <div>
        <form class="edit-email" novalidate>
            <p id="success-message-1"></p>
            <div class="form-group">
                <label for="email-input">New Email</label>
                <input type="email" placeholder="Bv:Henk@bazeke.odisee.be" id="email-input" name="email" autocomplete="email" value="<%= locals.user ? user.email : '' %>" required="required">
                <div class="description" id="email-input-valid"></div>
            </div>

            <button type="submit">Change Email</button>
        </form>

        <form class="edit-address" novalidate>

            <p id="success-message-2"></p>
            <div class="form-group">
                <label for="address">New Address</label>
                <input type="text" placeholder="Bv: Gentsestraat 123" id="address" name="street" autocomplete="address-line1" value="<%= locals.user ? user.street : '' %>" required>
                <div class="description" id="address-valid"></div>
            </div>

            <button type="submit">Change Address</button>
        </form>

        <form class="edit-card" novalidate>

            <p id="success-message-3"></p>
            <div class="form-group">
                <label for="cardNumber">New Card Number</label>
                <input type="text" placeholder="Bv: BE55 1234 1234 1234" id="cardNumber" name="cardNumber" value="<%= locals.user ? user.cardNumber : '' %>" required>
                <div class="description" id="cardNumber-valid"></div>
            </div>

            <button type="submit">Change Card</button>
        </form>

        <form class="edit-password" novalidate>

            <p id="success-message-4"></p>
            <div class="form-group">
                <label for="password">New password</label>
                <input type="password" placeholder="Password" id="password" name="password" required>
                <div class="description" id="password-valid"></div>
            </div>

            <button type="submit">Change Password</button>
        </form>

</section>

<section class="credit">
    <div>
        <p>$<%= user.credit %></p>
        <button class="yellow-button">Add Credit</button>
        <button class="yellow-button">Withdraw</button>
    </div>
</section>