<section class="profile">
    <div class="profile-top">
        <div class="pf-picture"><img src="img/stick-figure-40652_1280(1).png"></div>
        <h3><%= user.username %></h3>
    </div>

    <div>
        <ul>
            <li><span>Email:</span><p><%= user.email %></p></li>
            <li><span>Address:</span><p><%= user.city %> <%= user.zip %>, <%= user.street %></p></li>
            <li><span>Birthday:</span><p><%= (new Date(user.birthdate)).toLocaleDateString("be-BE") %></p></li>
            <li><span>Card number:</span>
                <p>
                    <%= user.card_number.substr(0, 4) + ' ' + user.card_number.substr(4, 4) + ' '
                    + user.card_number.substr(8, 4) + ' ' + user.card_number.substr(12) %>
                </p>
            </li>
        </ul>

<!--        <button class="grey-button edit-button">Edit</button>-->
    </div>
</section>

<section class="credit">
    <div>
        <p>$<%= user.credit %></p>
        <a href="/add-credit"><button class="yellow-button">Add Credit</button></a>
        <a href="/withdraw-credit"><button class="yellow-button">Withdraw</button></a>
    </div>
</section>