<!DOCTYPE html>
<html>
<head>
    <%- include('./partials/head') %>
</head>
<body>
    
    <!-- Header -->
    <%- include('./partials/header'); %> 

    <!-- Banner -->
    <section id="banner">
        <div class="banner container">
                <div class="banner-content">
                    <img src="./public/img/Logo.svg" alt="Better logo">
                    <h2 class="brand-text">Text</h2>    
                </div>
                
        </div>
    </section>

    <!-- Main content -->
    <section id="content">
        <div class="content container">

        </div>
    </section>

    <!-- Modal Register -->
    <%- include('./partials/modalreg'); %> 
    <!-- Modal Login -->
    <%- include('./partials/modallog'); %> 
    <!-- Footer -->
    <%- include ('./partials/footer'); %> 
</body>
</html>