<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %> 
    <script type="text/javascript" src="/js/roulette.js" defer></script>
</head>
<body>
<!-- Header -->
<%- include('./partials/header'); %>

<% if (locals.user) { %>
    <script>
        var user = '<%- JSON.stringify(user) %>';
    </script>
<% } %>



<main>
    <section id="banneri">
        <%- include('./partials/banner'); %> 
    </section>

    <div class="roulette container">
        <h2>Roulette</h2>
        <%- include('./partials/roulette'); %>
    </div>

    <section id="coming">
        <%- include('./partials/soon'); %> 
    </section>
</main>
<!-- Footer -->
<%- include('./partials/footer'); %>
</body>
</html>