<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %> 
    <script type="text/javascript" src="/js/roulette.js" defer></script>
</head>
<body>
<!-- Header -->
<%- include('./partials/header'); %>

<% if (locals.user) { %>
    <script>
        var user = '<%- JSON.stringify(user) %>';
    </script>
<% } %>

<main>
    <div class="roulette container">
        <h1>Roulette</h1>
        <%- include('./partials/roulette'); %>
    </div>
</main>
<!-- Footer -->
<%- include('./partials/footer'); %>
</body>
</html>