<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head'); %>
    
</head>
<body>

<!-- Header -->
<%- include('./partials/header'); %>
<section id="banneri">
    <%- include('./partials/banner'); %> 
</section>
<div id="main">

    <div class="container">
        <%- include('./partials/bets'); %>
    </div>
</div>

<%- include('./partials/footer'); %>
</body>
</html>