<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <script src="/js/register.js" defer></script>
</head>

<body>

<!-- Header -->
<%- include('./partials/header'); %>
<section class="register">

    <div id="modal-register">
        <div class="modal-register-bg">
            <div class="modal-register-content">
               <div class="modal-register-top">
                    <div class="modal-register-top-logo">
                        <svg width="196" height="103" viewBox="0 0 196 103" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <rect x="4.5" y="4.77966" width="186.917" height="92.7633" rx="34.5" fill="#353535" stroke="#FFF500" stroke-width="9"/>
                          <path d="M41.4684 61.3797C42.2684 61.3797 42.9417 61.2663 43.4884 61.0397C44.0351 60.7997 44.4751 60.473 44.8084 60.0597C45.1551 59.633 45.4017 59.1397 45.5484 58.5797C45.7084 58.0197 45.7884 57.4063 45.7884 56.7397C45.7884 56.2997 45.7284 55.8997 45.6084 55.5397C45.5017 55.1797 45.3084 54.8797 45.0284 54.6397C44.7617 54.3863 44.4017 54.193 43.9484 54.0597C43.5084 53.913 42.9617 53.8397 42.3084 53.8397H38.1084L37.1884 61.3797H41.4684ZM39.5484 41.9997L38.6284 49.5197H41.7484C42.4817 49.5197 43.1417 49.4463 43.7284 49.2997C44.3151 49.153 44.8151 48.9063 45.2284 48.5597C45.6551 48.1997 45.9817 47.7263 46.2084 47.1397C46.4351 46.553 46.5484 45.8263 46.5484 44.9597C46.5484 43.8797 46.2617 43.1197 45.6884 42.6797C45.1284 42.2263 44.2551 41.9997 43.0684 41.9997H39.5484ZM43.6684 37.1397C45.3617 37.1397 46.8084 37.2997 48.0084 37.6197C49.2217 37.9397 50.2084 38.3997 50.9684 38.9997C51.7417 39.5863 52.3017 40.2997 52.6484 41.1397C53.0084 41.9663 53.1884 42.8863 53.1884 43.8997C53.1884 44.6997 53.0817 45.473 52.8684 46.2197C52.6684 46.953 52.3417 47.633 51.8884 48.2597C51.4484 48.8863 50.8751 49.453 50.1684 49.9597C49.4751 50.4663 48.6284 50.8997 47.6284 51.2597C49.2017 51.6863 50.3617 52.353 51.1084 53.2597C51.8551 54.153 52.2284 55.2863 52.2284 56.6597C52.2284 58.0063 51.9684 59.2663 51.4484 60.4397C50.9417 61.5997 50.2017 62.613 49.2284 63.4797C48.2551 64.3463 47.0684 65.033 45.6684 65.5397C44.2817 66.033 42.7084 66.2797 40.9484 66.2797H30.0684L33.6684 37.1397H43.6684ZM64.6084 42.1597L63.7484 49.1997H71.9884L71.3484 54.0397H63.1484L62.2484 61.2597H73.1084L72.4684 66.2797H55.0684L58.6684 37.1397H76.0284L75.3884 42.1597H64.6084ZM98.7546 42.2997H91.3546L88.3946 66.2797H81.9146L84.8346 42.2997H77.3946L78.0346 37.1397H99.4346L98.7546 42.2997Z" fill="#FFF500"/>
                           <path d="M130.171 42.1597L129.311 49.1997H137.551L136.911 54.0397H128.711L127.811 61.2597H138.671L138.031 66.2797H120.631L124.231 37.1397H141.591L140.951 42.1597H130.171ZM152.797 50.8997C153.73 50.8997 154.524 50.7597 155.177 50.4797C155.83 50.1863 156.357 49.7997 156.757 49.3197C157.17 48.8397 157.464 48.2797 157.637 47.6397C157.824 46.9997 157.917 46.3263 157.917 45.6197C157.917 45.073 157.837 44.5797 157.677 44.1397C157.517 43.6863 157.264 43.3063 156.917 42.9997C156.584 42.6797 156.157 42.433 155.637 42.2597C155.13 42.0863 154.53 41.9997 153.837 41.9997H151.517L150.417 50.8997H152.797ZM154.437 37.1397C156.224 37.1397 157.744 37.333 158.997 37.7197C160.264 38.093 161.297 38.613 162.097 39.2797C162.897 39.9463 163.477 40.7397 163.837 41.6597C164.21 42.5663 164.397 43.553 164.397 44.6197C164.397 45.6863 164.25 46.7063 163.957 47.6797C163.677 48.6397 163.264 49.5263 162.717 50.3397C162.17 51.1397 161.504 51.853 160.717 52.4797C159.93 53.093 159.03 53.5997 158.017 53.9997C158.417 54.2263 158.784 54.5063 159.117 54.8397C159.45 55.1597 159.73 55.553 159.957 56.0197L164.197 66.2797H158.317C157.77 66.2797 157.31 66.173 156.937 65.9597C156.577 65.733 156.317 65.4263 156.157 65.0397L152.997 56.4197C152.837 56.0597 152.637 55.7997 152.397 55.6397C152.157 55.4797 151.797 55.3997 151.317 55.3997H149.857L148.517 66.2797H142.037L145.597 37.1397H154.437Z" fill="#BEBEBE"/>
                          <path d="M95.6397 61.98H103.04L106 38H112.48L109.56 61.98H117L116.36 67.14H94.9597L95.6397 61.98Z" fill="#929191"/>
                        </svg>
                    </div>
                <div class="modal-register-top-text"><h1>The better  place to <span>bet</span></h1></div>
            </div>
                <div class="modal-register-bottom">
                    <!--form here-->
                    <div class="form-wrapper">
                        <form class="register" id="register-info" novalidate>

                            <p id="success-message"></p>

                            <div class="form-group">
                                <label for="username" class="username">Username</label>
                                <input type="text" placeholder="Username" id="username" name="username" autocomplete="username" value="<%= locals.user ? user.userName : '' %>" required="required">
                                <div class="description" id="username-valid"></div>
                            </div>

                            <div class="form-group">
                                <label for="email-input">Email</label>
                                <input type="email" placeholder="Bv:Henk@bazeke.odisee.be" id="email-input" name="email" autocomplete="email" value="<%= locals.user ? user.email : '' %>" required="required">
                                <div class="description" id="email-input-valid"></div>
                            </div>

                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" placeholder="Password" id="password" name="password" required>
                                <div class="description" id="password-valid"></div>
                            </div>

                            <div class="form-group">
                                <label for="confirm-password">Confirm Password</label>
                                <input type="password" placeholder="Confirm password" id="confirm-password" name="confirmPassword" required>
                                <div class="description" id="confirm-password-valid"></div>
                            </div>

                            <div class="form-group">
                                <label for="address">Address</label>
                                <input type="text" placeholder="Bv: Gentsestraat 123" id="address" name="street" autocomplete="address-line1" value="<%= locals.user ? user.street : '' %>" required>
                                <div class="description" id="address-valid"></div>
                            </div>
                            <div class="city-zip-wrapper">
                                <div class="form-group">
                                    <label for="city">City</label>
                                    <input type="text" placeholder="City" id="city" name="city" value="<%= locals.user ? user.city : '' %>" required>
                                    <div class="description" id="city-valid"></div>
                                </div>

                                <div class="form-group">
                                    <label for="zip">Zip</label>
                                    <input type="text" placeholder="Zip" id="zip" name="zip" autocomplete="postal-code" value="<%= locals.user ? user.zip : '' %>" required>
                                    <div class="description" id="zip-valid"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="cardNumber">Card Number</label>
                                <input type="text" placeholder="Bv: BE55 1234 1234 1234" id="cardNumber" name="cardNumber" value="<%= locals.user ? user.cardNumber : '' %>" required>
                                <div class="description" id="cardNumber-valid"></div>
                            </div>

                            <div class="form-group">
                                <label for="birth-date">Date of Birth</label>
                                <input type="date" id="birth-date" name="birthdate" value="<%= locals.user ? user.birthdate : '' %>" required>
                                <div class="description" id="birthdate-valid"></div>
                            </div>

                            <div class="form-group" id="L">
                                <input type="checkbox" name="tos" id="tos" class="checkbox" checked required><label for="tos" class="tos">I have read <span>the user agreement</span></label>
                                <div class="description" id="tos-valid"></div>
                            </div>

                            <button type="submit">Register</button>
                            <a href="/login">Already have an account? Log in here</a>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!-- Footer -->
<%- include('./partials/footer'); %>

</body>
</html>