<h1>Register</h1>
<!--<form action="/register" method="POST">-->
<!--    <div>-->
<!--        <label for="username">Username</label>-->
<!--        <input type="text" id="username" name="username" required>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="email">Email</label>-->
<!--        <input type="email" id="email" name="email" required>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="password">Password</label>-->
<!--        <input type="password" id="password" name="password" required>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="city">city</label>-->
<!--        <input type="text" id="city" name="city" required>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="zip">zip</label>-->
<!--        <input type="text" id="zip" name="zip" required>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="street">street and number</label>-->
<!--        <input type="text" id="street" name="street" required>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="cardNumber">cardNumber</label>-->
<!--        <input type="text" id="cardNumber" name="cardNumber" required>-->
<!--    </div>-->
<!--    <div>-->
<!--        <label for="birthdate">birthdate</label>-->
<!--        <input type="date" id="birthdate" name="birthdate" required>-->
<!--    </div>-->
<!--    <button type="submit">Register</button>-->
<!--</form>-->


<p class="error"><%= locals.error ? error : '' %></p>

<form action="/register" method="post" class="register" id="register-info">

    <div class="form-group">
        <label for="username" class="username">Username</label>
        <input type="text" placeholder="Username" id="username" name="username" value="<%= locals.user ? user.userName : '' %>" required="required">
    </div>

    <div class="form-group">
        <label for="email-input">Email</label>
        <input type="email" placeholder="Bv:Henk@bazeke.odisee.be" id="email-input" name="email" value="<%= locals.user ? user.email : '' %>" required="required">
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="password" name="password" required>
    </div>

    <div class="form-group">
        <label for="confirm-password">Confirm Password</label>
        <input type="password" placeholder="Confirm password" id="confirm-password" name="confirmPassword" required>
    </div>

    <div class="form-group">
        <label for="address">Address</label>
        <input type="text" placeholder="Bv: Gentsestraat 123" id="address" name="street" value="<%= locals.user ? user.street : '' %>" required>
    </div>

    <div class="form-group">
        <label for="city">City</label>
        <input type="text" placeholder="City" id="city" name="city" value="<%= locals.user ? user.city : '' %>" required>
    </div>

    <div class="form-group">
        <label for="zip">Zip</label>
        <input type="text" placeholder="Zip" id="zip" name="zip" value="<%= locals.user ? user.zip : '' %>" required>
    </div>

    <div class="form-group">
        <label for="cardNumber">Card Number</label>
        <input type="text" placeholder="Bv: BE55 1234 1234 1234" id="cardNumber" name="cardNumber" value="<%= locals.user ? user.cardNumber : '' %>" required>
    </div>

    <div class="form-group">
        <label for="birth-date">Date of Birth</label>
        <input type="date" id="birth-date" name="birthdate" value="<%= locals.user ? user.birthdate : '' %>" required>
    </div>

    <div class="form-group">
        <input type="checkbox" name="tos" id="tos" class="checkbox" required>
        <label for="tos" class="tos">I have read <span>the user agreement</span></label>
    </div>

    <button type="submit">Register</button>
    <a href="/login">Already have an account? Log in here</a>

</form>